@import '../../../styles/mixins/index.scss';

.atavyalogo {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;

    img {
        max-width: 28px;
    }

    span {
        display: block;
        @include typo12-bold;
        color: var(--theme-header-link-text-color);
    }
}