@import '../../../../styles/mixins/index.scss';

.breadcrumbsAlignment {
    display: flex;
    align-items: center;
    padding: 0 0 8px 0;
    gap: 4px;

    span {
        display: block;
        @include typo12-medium;
        color: var(--theme-gray-800);
        cursor: pointer;
    }
    img {
        cursor: pointer;
    }
}